@page
@using System.Data
@model UserModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="d-flex align-items-center mb-2">
    <div>
        <h5 class="font-weight-bold mb-2">User</h5>
        <p>User management</p>
        <h3>@ViewData["Result"]</h3>
    </div>
</div>

<div class="card radius-10">
    <div class="card-body">
        <div class="mt-1 mb-3">
            <button type="button" class="radius-8 btn btn-outline-primary d-flex align-items-center" onclick="addUser()">
                <i class="bx bx-plus"></i>
                Add New
            </button>
        </div>
        <div class="table-responsive">
        <table id="tableUser" class="table mb-0 align-middle" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th>Action</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>No Hp</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                    @* @foreach (DataRow item in Model.GetAllUser().Rows) { *@
                    @foreach (DataRow item in Model.GetUserData().Rows)
                    {
                        <tr>
                            <td>
                                <div class="d-flex order-actions">
                                    <a type="button" class="text-primary bg-light-primary border-0 me-3" onclick="editUser('@item["UserName"]')">
                                        <i class="bx bxs-edit"></i>
                                    </a>
                                    <a type="button" class="text-danger bg-light-danger border-0" onclick="deleteDataShow('@item["UserName"]')" data-bs-toggle="modal" data-bs-target="#modalDelete">
                                        <i class="bx bxs-trash">
                                        </i>
                                    </a>
                                </div>
                            </td>
                            <td>@item["UserName"]</td>
                            <td>@item["FullName"]</td>
                            <td>@item["Role"]</td>
                            <td>
                                @if (item["IsActive"].ToString() == "Y")
                                {
                                    <div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
                                        Active
                                    </div>
                                }else{
                                    <div class="badge rounded-pill text-secondary bg-light-secondary p-2 text-uppercase px-3">
                                        Inactive
                                    </div>
                                }
                            </td>
                            <td>@item["NoHP"]</td>
                            <td>@item["Email"]</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
    </div>
</div>

<!-- MODAL Add -->
<div class="modal fade" id="modalUser" tabindex="-1" aria-labelledby="modalUserLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content radius-10">
			<div class="modal-header">
				<h5 class="modal-title" id="modalUserLabel">Add User</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form method="post">
                <div class="modal-body">
                    <input type="hidden" id="OldUserName" name="OldUserName"/>
                    <div class="mb-3">
                        <label for="FullName" class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="FullName" id="FullName" placeholder="Full Name...">
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="form-label">User Name</label>
                        <input type="text" class="form-control" name="UserName" id="UserName" placeholder="User Name...">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Select Role</label>
                        <select class="form-select" name="Role" id="Role">
                            <option value="" selected>Select Role...</option>
                            <option value="ADM">Admin</option>
                            <option value="OPR">Operator</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="NoHP" class="form-label">No HP</label>
                        <input type="text" class="form-control" name="NoHP" id="NoHP" placeholder="No HP...">
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <input type="text" class="form-control" name="Email" id="Email" placeholder="Email...">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Status</label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="IsActive" id="IsActive" checked="">
                            <label class="form-check-label" for="IsActive">Active</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary radius-8"
                        data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary radius-8" asp-page-handler="SaveData" value="Save"><i class="bx bx-check"></i></input>
                </div>
            </form>
		</div>
	</div>
</div>
<!-- END MODAL -->

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content radius-10">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this data
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary radius-8"
                        data-bs-dismiss="modal">
                    Cancel
                </button>
                <form method="post">
                    <input type="hidden" id="hdnUsernameDelete" name="hdnUsernameDelete"/>
                    <input type="submit" class="btn btn-danger radius-8" asp-page-handler="BtnDelete" value="Delete" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function () {
		var table = $('#tableUser').DataTable({
		});
	});

    let deleteDataShow = (UserName) => {
        $("#hdnUsernameDelete").val(UserName);
    }

    function editUser(userName) {
        $.ajax({
            url: '?handler=ViewDetail&UserName=' + userName,
            type: 'GET',
            datatype: 'json',
            success: function (response) {
                console.log(response);
                $("#FullName").val(response.FullName);
                $("#UserName").val(response.UserName);
                $("#Role").val(response.Role);
                $("#NoHP").val(response.NoHP);
                $("#Email").val(response.Email);
                $("#OldUserName").val(response.UserName);
                $("#modalUserLabel").text("Edit User");
                IsActive.checked = (response.IsActive == "Y");

                $("#modalUser").modal('show');
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function addUser(){
        $("#FullName").val("");
        $("#UserName").val("");
        $("#Role").val("");
        $("#NoHP").val("");
        $("#Email").val("");
        $("#OldUserName").val("");
        $("#modalUserLabel").text("Add User");
        IsActive.checked = true;

        $("#modalUser").modal('show');
    }
</script>